<html>
<head>
    <meta charset="UTF-8">
    <title>Verification {{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <script src="/static/layout.js" type="application/javascript"></script>
</head>
<body>
<div class="wrapper">
    <div class="side_left"></div>
    <div class="nav_bar">
        <div class="nav_bar_list">
            <a href="/info">Info</a>
            <a href="/contact">Contact</a>
            {{ if .Display }}
                <div class="error">
                    <a href="/">Index</a>
                    <a href="/newUpload">Upload</a>
                    <a href="/logout">Logout</a>
                </div>
            {{ else }}
                <a href="/register">Register</a>
            {{ end }}
        </div>
    </div>
    <div class="side_right"></div>
    <div class="content">
        <h3>Welcome to WMD</h3>
        <br><br>
        <p>Please enter your verification key :</p>
        <br>
        <form method="post">
            <div><input name="verif" placeholder="Verification Key"></div>
            <div>
                <button type="submit">Verification</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>